.ui.vertical.basic.segment.masthead {
  height: 700px;
  background: url('../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 40px;
}
/*
  1.连续 ctrl/command+D 选择所有空格换成 .
  2.背景图片路径 background: url('images/banner.png'); 无法找到
    需要使用 background: url('../images/banner.png');
    ./代表的是从当前目录开始，../代表的是从上一级开始
  3.background-size:
    cover：图片宽高比不变、铺满整个容器的宽高，而图片多出的部分则会被截掉；
    contain:图片自身的宽高比不变，缩放至图片自身能完全显示出来，所以容器会有留白区域；
    PS:其实，从英文的意思来说：cover意味着“遮罩、遮盖”---此处理解为“塞满”较恰当，contain意为“包含”--也就是：我图片虽然缩放了，但是整个图是被“包含”在你里面的，你必须把我显示完整、不能裁剪我一丝一毫~
    在repeat情况下：cover:与上述相同；contain:容器内至少有一张完整的图，容器留白区域则平铺背景图，铺不下的再裁掉。
  4. padding 使得顶端菜单内收
    此处只是div背内部的元素内收，而不是背景图片内收
*/

.ui.inverted.center.aligned.header.slogan {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* absolute 会使得占位消失 */

.ui.red.circular.button {
  font-size: 20px;
  width: 180px;
  height: 50px;
}

.ui.header.footer.logo {
  font-size: 30px;
  color: rgb(196,196,196);
}

.ui.inverted.segment.card-view {
  height: 220px;
}

.ui.vertical.basic.container.segment.recommanded > .ui.center.aligned.header {
  font-size: 36px;
  color: rgba(56, 56, 56, 0.9);
  margin-top: 50px;
  margin-bottom: 50px;
}
/* 子孙选择器 */

#card-title {
  margin-bottom: 100px;
}

#people-say {
  height: 450px;
  background: url('../images/people-say.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
/* margin-bottom: 100px;使得按钮与footer间隔开 */

.four.wide.column {
  position: absolute;
}

.ui.circular.inverted.segment {
  background: url('../images/profile.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  /*==========*/
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 为了让头像在每一列处于居中位置，需要其父结构的position: absolute或者relative */
  /*==========*/
}

#people-say > .ui.grid {
  position: relative;
  top: 40%;
}
/*
  1.为了让四个头像所在的列剧中在红色背景
  ##############
  2.因为父级结构#people-say有固定高度，所以此处用relative有作用，否则无效
  ##############
*/

.ui.circular.inverted.segment > .ui.inverted.header {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.icon.red.inverted.circular {
  position: absolute;
  transform: translate(-100%, -100%);
  top: 100%;
  left: 100%;
}
/* transform: translate(-100%, -100%)转移重心至右下角
  每次通过top，left移动的是重心的位置
*/

/* #people-say > .ui.red.inverted.circular.button { */
.ui.red.inverted.circular.button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  /* margin-bottom: 50px; */
}
